<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="adhocValidateSourceFolderPath" value="" />  <!--Optional. When they are specified, it will aggregate all files under the folder and do the validation.-->
    <add key="adhocValidateTargetFolderPath" value="" />
  </appSettings>
</configuration>