<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
  <appSettings>
    <add key="connectionString" value="" />
    <add key="containerName" value="" />
    <add key="path" value="" />
    <add key="continuationToken" value="" />           <!--Optional. Use it when need to resume from a failed run. Note: need to escape the '"' character by using '&quot;'.-->
  </appSettings>
</configuration>
